@using BaoCaoHQTCSDL.Models

@{
    ProductModel testModel = ViewBag.test;
}

@using (Html.BeginForm("Edit", "Home", new {Id = Model.Id }, FormMethod.Post, new { name = "frm" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Cập Nhật Thông Tin</h4>
    </div>

    <div class="modal-body">
        <input type="hidden" name="Id" value="@testModel.ProductID" />
        <div class="form-group">
            <label>Product Name:</label>
            <div class="form-control">@(testModel.ProductName)</div>
        </div>
        <div class="form-group">
            <label>Category:</label>
            @Html.DropDownList("Category", null, new { type = "text", @class = "form-control" })
        </div>
    </div>


    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Cập Nhật</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
    </div>
}